{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block navbar %}
    {# { nav.top.render() }} #}
    {% include 'includes/_adminnavbar.html' %}
{% endblock %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ message }}
    </div>
{% endfor %}


{% block page_body %}
    {{ super() }}
    <div class="container">
        {% if current_user.is_authenticated %}
            <h3>您好 : {{ current_user.username }}</h3>
        {% endif %}
        <h4> 最新统计于 <a>2020年*** **：**</a>提交 ， 目前历史记录共<a> 0 </a>个月度
            <input type="button" class="btn btn-large btn-primary" value="月度统计"
                   data-toggle="modal" data-target="#add" style="margin-left: 40px;margin-bottom: -5px"
                   onclick="">
        </h4>


    </div>
    <div class="container">
        <h3>月度统计查询</h3>
        {% for message in get_flashed_messages() %}
            <div class="alert-info"> {{ message }}</div>
        {% endfor %}
        <form method="post" style="float: left">
            <select title="月度" type="text" id="preiod" name="preiod" class="form-control input-inline"
                    style="width:300px">
                <option value="">请选择月份</option>
                {% for preiod in ActionPreiodList %}
                    <option value="{{ preiod[0] }}">{{ preiod[0] }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-success btn-sm" type="submit" onclick="{{ url_for('admin.search') }}"
                    style="margin-top: 20px;margin-bottom: 20px">查询
            </button>
            <button class="btn btn-warning btn-sm" type="submit" onclick="{{ url_for('admin.admincount') }}"
                    style="margin-top: 20px;margin-bottom: 20px">取消
            </button>
        </form>
        <table class="table table-striped custom-table" width="60%" border="1">
            <tr>
                <th> 序号</th>
                <th> 姓名</th>
                <th> 获赠数量</th>
                <th> 月度</th>
            </tr>
            <script>i = 1</script>
            {% for his in RankingHistory |sort(attribute='Actionpreiod',reverse=True ) %}
                <tr>
                    <td>
                        <script>document.write(i);
                        i++</script>
                    </td>
                    <td> {{ his[0] }} </td>
                    <td> {{ his[1] }} </td>
                    <td> {{ his[2] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock page_body %}


