{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block navbar %}
    {# { nav.top.render() }} #}
    {% include 'includes/_usernavbar.html' %}
{% endblock %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ message }}
    </div>
{% endfor %}

{% block page_body %}
    {{ super() }}
    <div class="container">
        <div class="row">
            <section class="col-lg-7 col-md-12 col-sm-12">
                <form class="form-horizontal" style="width: 100%" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">待转正人</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="username" required>
                                <option class="defaultval" selected
                                        value="">张三</option>
                                {#                                {% for s in company_choice %}#}
                                {#                                    <option value="{{ s.0 }}">{{ s.1 }}</option>#}
                                {#                                {% endfor %}#}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">人品</label>
                        <div class="col-sm-9">
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline1" id="optionsRadios1" value="option1"> 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline1" id="optionsRadios2" value="option2"> 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline1" id="optionsRadios3" value="option3"> 3
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline1" id="optionsRadios4" value="option4"> 4
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline1" id="optionsRadios4" value="option4"> 5
                            </label>
                        </div>


                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">沟通</label>
                        <div class="col-sm-9">
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline2" id="optionsRadios1" value="option1"> 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline2" id="optionsRadios2" value="option2"> 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline2" id="optionsRadios3" value="option3"> 3
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline2" id="optionsRadios4" value="option4"> 4
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline2" id="optionsRadios4" value="option4"> 5
                            </label>
                        </div>


                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">技术</label>
                        <div class="col-sm-9">
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline3" id="optionsRadios1" value="option1"> 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline3" id="optionsRadios2" value="option2"> 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline3" id="optionsRadios3" value="option3"> 3
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline3" id="optionsRadios4" value="option4"> 4
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline3" id="optionsRadios4" value="option4"> 5
                            </label>
                        </div>


                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">这是啥</label>
                        <div class="col-sm-9">
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline4" id="optionsRadios1" value="option1"> 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline4" id="optionsRadios2" value="option2"> 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline4" id="optionsRadios3" value="option3"> 3
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline4" id="optionsRadios4" value="option4"> 4
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="optionsRadiosinline4" id="optionsRadios4" value="option4"> 5
                            </label>
                        </div>


                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">对新人留言</label>
                        <div class="col-sm-9">
                                    <textarea rows="8" class="form-control" name="introduction" maxlength="500"
                                              required></textarea>
                            {#                            <textarea rows="5" class="form-control" name="introduction" maxlength="500"#}
                            {#                                              required>{{ product.introduction }}</textarea>#}
                        </div>
                    </div>

                    <div style="text-align: center">
                        <button type="button" class="btn btn-large btn-primary" data-toggle="modal"
                                data-target="#form_submit" onclick="goTurnover()">
                            提交
                        </button>
                    </div>

                </form>
            </section>
            <section class="col-lg-5 col-md-12 col-sm-12">
                <script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
                <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                <div id="main" style="width: auto;height:400px;text-align: center"></div>
                <script type="text/javascript">
                    // 基于准备好的dom，初始化echarts实例
                    var myChart = echarts.init(document.getElementById('main'));
                    option = null;

                    option = {
                        title: {
                            text: '评分情况',
                            subtext: '总分：18',
                            left: 'center',
                            align: 'right'
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: '{a} <br/>{b} : {c} '
                        },
                        color: ['#3398DB'],
                        yAxis: {
                            type: 'category',
                            data: ['人品', '沟通', '能力', '其他']
                        },
                        xAxis: {
                            name: '评分',
                            type: 'value'
                        },
                        series: [{
                            name: '评分',
                            data: [1, 3, 5, 4],
                            type: 'bar'
                        }]
                    };

                    myChart.setOption(option);
                </script>
            </section>
        </div>

    </div>
    <div class="modal fade" id="form_submit" tabindex="-1"
         role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h5 class="modal-title" id="turnoverLabel" style="font-weight: bold">提交评价</h5>
                </div>
                <div class="modal-body" style="padding-top: 0">
                    提交后不可更改，确认提交评价吗？
                </div>
                <div class="col-sm-12" style="height: 30px;margin-top:5px;color:red" id="err_message1"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="">确认</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <script src="/static/jquery-2.2.3.min.js"></script>
    <script>
        function goTurnover() {
            $('#err_message1').html("");
        }

        $('#a_turnover').click(function () {
            var data = {
                'aerocoin_lefted': parseInt($.trim($("#aerocoin_lefted").html()))
            };
            if (data.aerocoin_lefted <= 0) {
                $('#err_message1').html("Aero币余额不足!");
                return false
            }
            else {
                $.ajax({
                    url: '{{ url_for('main.turnover') }}',
                    type: 'POST',
                    data: data,
                    async: true,
                    success: function () {
                        $('#aerocoin_lefted').html(0);
                        $('#turnover').modal('hide')
                    },
                    error: function () {
                        $('#err_message1').html("服务器出错了!")
                    }
                });
                return false;
            }
        });

        function goDelete(text, name) {
            $('#a_delete').attr('href', text);
            $('#s_delete').html($('#touser_' + name).html())
        }

        function goModify(id) {
            $('#err_message2').html("");
            $('#modify_id').val(id);
            $('#modify_aerocoin_num').val(parseInt($('#aerocoin_num_' + id).html().trim()));
            $('#modify_reasonnote').val($('#reasonnote_' + id).html());
            var opt_touser = document.getElementById("modify_touser");
            for (var i = 0; i < opt_touser.options.length; i++) {
                if ($('#touser_' + id).html().trim() === opt_touser.options[i].innerHTML.trim())
                    opt_touser.options[i].selected = "selected"
            }
            var opt_aerocoin_type = document.getElementById("modify_aerocoin_type");
            for (var i = 0; i < opt_aerocoin_type.options.length; i++) {
                if ($('#aerocoin_type_' + id).html().trim() === opt_aerocoin_type.options[i].innerHTML.trim())
                    opt_aerocoin_type.options[i].selected = "selected"
            }
            var opt_reason = document.getElementById("modify_reason");
            for (var i = 0; i < opt_reason.options.length; i++) {
                if ($('#reason_' + id).html().trim() === opt_reason.options[i].innerHTML.trim()) {
                    opt_reason.options[i].selected = "selected"
                }
            }


        }

        $('#modify_it').click(function () {
            var data = {
                'actionid': $("#modify_id").val(),
                'touser': $("#modify_touser").val(),
                'aerocoin_type': $.trim($('#modify_aerocoin_type').val()),
                'aerocoin_num': parseInt($.trim($("#modify_aerocoin_num").val())),
                'reason': $.trim($("#modify_reason").val()),
                'reasonnote': $.trim($('#modify_reasonnote').val())
            };
            if (data.touser === "") {
                $('#err_message2').html("赠予对象不能为空!");
                return false
            }
            else if (data.aerocoin_type === "") {
                $('#err_message2').html("Aero币类型不能为空!");
                return false
            }
            else if (data.aerocoin_num < 0) {
                $('#err_message2').html("赠予Aero币数量应大于0!");
                return false
            }
            else if (parseInt($.trim($("#aerocoin_lefted").html())) + parseInt($('#aerocoin_num_' + data.actionid).html().trim()) - data.aerocoin_num < 0) {
                $('#err_message2').html("Aero币余额不足!");
                return false
            }
            else if (data.reason === "") {
                $('#err_message2').html("赠予理由种类不能为空!");
                return false
            }
            else if (data.reason === '其他（需备注明确内容）' && data.reasonnote === "") {
                $('#err_message2').html("赠予理由种类为其他时，理由详情不能为空!");
                return false
            }
            else {
                $.ajax({
                    url: '{{ url_for('main.modify') }}',
                    type: 'POST',
                    data: data,
                    async: true,
                    success: function (res) {
                        console.log(res.actiontime)
                        $('#aerocoin_lefted').html(res.aerocoin_lefted);
                        $('#modify').modal('hide');
                        var id = data.actionid;
                        $('#fromuser_' + id).html(res.fromuser);
                        $('#touser_' + id).html(res.touser);
                        $('#aerocoin_type_' + id).html(res.aerocoin_type);
                        $('#aerocoin_num_' + id).html(res.aerocoin_num);
                        $('#actiontime_' + id).html(res.actiontime);
                        $('#reason_' + id).html(res.reason);
                        $('#reasonnote_' + id).html(res.reasonnote)
                    },
                    error: function () {
                        $('#err_message2').html("服务器出错了!")
                    }
                });
                return false;
            }
        })
    </script>


{% endblock page_body %}


