{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block navbar %}
    {# { nav.top.render() }} #}
    {% include 'includes/_usernavbar.html' %}
{% endblock %}
{% from "bootstrap/pagination.html" import render_pagination %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {{ message }}
    </div>
{% endfor %}

{% block page_body %}
    {{ super() }}
    {#    <div class="container">#}
    {#        <a href="{{ url_for('auth.login') }}" class="btn btn-primary">用户登录</a>#}
    {#    </div>#}
    <div class="container">
        {% if current_user.is_authenticated %}
            <h3>您好 : {{ current_user.username }}</h3>
            {#     欢迎{{ current_user.username }}#}
            <h4> 您当前获赠的Aero币有 <a>{{ AeroCoinReceived[0] }} </a>枚<br>您当前剩余的Aero币有 <a>{{ AeroCoinLefted[0] }}</a>枚&nbsp;&nbsp;&nbsp;&nbsp;
                {% if sign %}您当前收到上交aero币有 <a>{{ AeroCoinFromuser[0] }}</a>枚{% endif %}</h4>
            {% if current_user.username != '郭会明' %}
                {% for message in get_flashed_messages() %}
                    <div class="alert-info"> {{ message }}</div>
                {% endfor %}
                {{ wtf.quick_form(form2) }}
            {% endif %}

            {######TODO###   当前上交Aero币仍然走 Action     #}
            {#     <a href="{{ url_for('') }}" class="btn btn-primary">上交剩余Aero币</a>#}
        {% endif %}
    </div>

    {############ 老版本的赠予操作 被form封装    #}
    <div class="container">
        <div class="table-responsive">
            <h3> 赠予记录 </h3>
            <table class="table table-striped custom-table" width="60%" border="1">
                <tr>
                    <th> 赠予者</th>
                    <th> 赠予对象</th>
                    <th> Areo币类型</th>
                    <th> Areo币数量</th>
                    <th> 时间</th>
                    <th> 理 由</th>
                    <th> 理由详情</th>
                </tr>
                {% for record in GivetoRecords |sort(attribute='ActionTime',reverse=True ) %}
                    <tr>
                        <td> {{ record[0] }} </td>
                        <td> {{ record[1] }} </td>
                        <td> {{ record[2] }} </td>
                        <td> {{ record[3] }} </td>
                        <td> {{ record[4] }} </td>
                        <td> {{ record[5] }} </td>
                        <td> {{ record[6] }}</td>
                        {#               <td> 修改 </td>#}
                    </tr>
                    {#                    <div>{{ comment.body }}</div>#}

                    {#                </div>#}

                {% endfor %}
            </table>
        </div>
    </div>


    <div class="container">
        {#       在用户首页通常显示用户投币的记录，一个table显示，然后是投币的操作form， 还需要添加回收aero币的按钮  }#}
        {#<div   class="form-horizontal" >#}
        <h3>Aero币赠予</h3>
        {#    <form action="/user/{{ username }}" method="POST">#}
        {##}
        {# <label>受赠人员</label>#}
        {#        <select name="GiveTo">#}
        {#        <option value="5">  焦函   </option>#}
        {#        <option value="6">  王亚伟 </option>#}
        {#        <option value="7">  山丹   </option>#}
        {#        <option value="8">  武卫文 </option>#}
        {#        <option value="9">  王鑫龙 </option>#}
        {#        <option value="10"> 李纪念 </option>#}
        {#        <option value="2">  张煜刚 </option>#}
        {#        <option value="11"> 张梦巧 </option>#}
        {#        <option value="12"> 章俊伟 </option>#}
        {#        <option value="13"> 范宇   </option>#}
        {#        <option value="3">  滕一   </option>#}
        {#        <option value="14"> 王诗情  </option>#}
        {#        </select>#}
        {#        <br>#}
        {# <label> 选择 </label>#}
        {#        <input type="radio" name="coinType" value="Ccoin" checked> C币#}
        {#        <input type="radio" name="coinType" value="Tcoin"> T币#}
        {#        <br>#}
        {#   <br>#}
        {#<label>Aero币种类</label> <select name="AeroCoin_type">#}
        {##}
        {#<option value="0">  Aero币  </option> </select>#}
        {#    <br>#}
        {#        <label> 数量 </label>#}
        {#        <input type = "text" name ="coinnumber">  &nbsp;&nbsp;&nbsp; {{NotAllowActionmsg}}<br>#}
        {#<label>赠予理由</label><br>#}
        {##}
        {#         <select name="reasonlist">#}
        {##}
        {#<option value="1">  取得阶段性成果或完成标志性工作   </option>#}
        {#<option value="2">  对个人或组织影响力较大正向提 </option>#}
        {#<option value="3">  获得公司及以上级表彰奖励   </option>#}
        {#<option value="4">  管理类创新产生实效 </option>#}
        {#<option value="5">  技术类创新产生实效 </option>#}
        {#<option value="6">  承受较大工作强度和压力 </option>#}
        {#<option value="7">  其他（需备注明确内容） </option>#}
        {#</select>#}
        {#        <br>#}
        {##}
        {##}
        {#        <label>理由详情</label><br>#}
        {#        <textarea name="reason" rows="10" cols="70"></textarea>#}
        {#      <br>#}
        {#      <input type="submit" onclick="alert('提交成功，请点击刷新')"  value="提交">#}
        {#    </form>#}
        {#        </form>#}
        {#    </div>#}
        {#    </div>#}

        {% for message in get_flashed_messages() %}
            <div class="alert-info"> {{ message }}</div>
        {% endfor %}
        {{ wtf.quick_form(form1) }}
    </div>

{% endblock page_body %}


